.contact-page {

	.contact-info {
		background: #29475f;
		padding: 20px;
		color: #fff;
		font-family: "Roboto", sans-serif;

		margin-top: 40px;
	}







	.contact-form {
		margin-top: 20px;
		max-width: 500px;


		h4 {
			font-family: 'Rambla', sans-serif;
			color: #29475f;
			font-weight: bold;
			margin-top: 0;
		}

		input, textarea{
			height: 30px;
			background: #fff;
			border: none;
			display: block;
			outline: none;
			width: 100%;
			margin-top: 20px;
			padding-left: 10px;
			padding-right: 10px;

			&:focus {
				-webkit-box-shadow: 0px 2px 0px 0px rgba(52,152,219,1);
				-moz-box-shadow: 0px 2px 0px 0px rgba(52,152,219,1);
				box-shadow: 0px 2px 0px 0px rgba(52,152,219,1);
			}
		}

		input[type="number"] {
			display: inline-block;
			margin-left: 10px;
			width: 75px;
			padding-right: 0;
		}

		textarea {
			resize:vertical;
			height: 100px;
			min-height: 200px;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		form {
			margin-bottom: 0;
		}

		.textarea-subtext {
			display: block;
			color: #aaa;
			font-size: 12px;
			margin-top: 5px;
		}

		.submit-errors {
			color: #c0392b;

			span {
				display: block;
			    margin-top: 10px;
			    font-weight: bold;
			}
		}


		.submit-success {
			color: #3cb878;

			display: block;
		    margin-top: 10px;
		    font-weight: bold;
		}


		.submit-message-button {
			display: inline-block;
			margin-top: 20px;
			padding: 6px 30px;
			background: #3cb878;
			color: #fff;
			font-size: 13px;
			cursor: pointer;
			text-decoration: none;

			.fa {
				font-size: 12px;

				&.fa-commenting-o {
					padding-right: 5px;
				}

				&.fa-cog {
					display: none;
				}
			}

			&.submitting {
				background: lighten(#3cb878, 20%);
				.fa-commenting-o {
					display: none;
				}

				.fa-cog {
					display: inline-block;
				}
			}
		}
	}







}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.contact-page  {


		.contact-info {
			margin-top: 153px;
			padding: 40px;
		}


	}
}
