$MAX_CONTENT_WIDTH : 1140px;
$GRID_GUTTER : 15px;

$VERTICAL_SPACE : 40px;
$VERTICAL_DOUBLESPACE : 2* $VERTICAL_SPACE;
$VERTICAL_HALFSPACE : $VERTICAL_SPACE/2;
$VERTICAL_QUARTERSPACE : $VERTICAL_SPACE/4;