$COLOR_DARK : #305253;
$COLOR_DARKEST : #282828;
$COLOR_MAIN : #248C8B;
$COLOR_MAIN_COMPL : #F2C923;
$COLOR_LIGHT: #ECEBBF;


$COLOR_RED_DARK_BG : #FF200E;
$COLOR_BLUE_DARK_BG: #64A4FF;


$WHITE_SHADE : rgba(255,255,255,0.85);


/*  Font families */
@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);
$FONT_FAMILY_1 : 'Rambla', sans-serif;

@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400);
$FONT_FAMILY_2: 'Roboto', sans-serif;



/*-----------------------------------------------------------------------
	SHADES
-------------------------------------------------------------------------*/



.box_shadow_1 {
	-moz-box-shadow:     0 2px 7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0 2px 7px rgba(0, 0, 0, 0.2);
	box-shadow:          0 2px 7px rgba(0, 0, 0, 0.2);
}

.box_shadow_2 {
	-moz-box-shadow:     0 0px 30px -10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:  0 0px 30px -10px rgba(0, 0, 0, 0.2);
	box-shadow:          0 0px 30px -10px rgba(0, 0, 0, 0.2);
}

.box_shadow_hover_1 {
	-moz-box-shadow:    inset 0 0 27px rgba(255, 255, 255, 0.5), 0 2px 7px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 0 27px rgba(255, 255, 255, 0.5), 0 2px 7px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 0 0 27px rgba(255, 255, 255, 0.5), 0 2px 7px rgba(0, 0, 0, 0.2);
}



.box_shadow_volume_1 {
	-moz-box-shadow:    inset 0 2px 3px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 2px 3px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
	box-shadow:         inset 0 2px 3px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
}

.box_shadow_volume_1_rb {
	-moz-box-shadow:    inset -3px -2px 6px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
	-webkit-box-shadow: inset -3px -2px 6px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
	box-shadow:         inset -3px -2px 6px rgba(255,255,255,0.3), inset 0 -2px 3px rgba(0,0,0,0.3), 0 1px 1px rgba(255,255,255,0.9);
}


.box_shadow_groove_1{
	-moz-box-shadow:     inset 3px 2px 7px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow:  inset 3px 2px 7px 1px rgba(0,0,0,0.5);
	box-shadow: 		 inset 3px 2px 7px 1px rgba(0,0,0,0.5);
}

.box_shadow_groove_2{
	-moz-box-shadow:     inset 1px 1px 18px -6px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow:  inset 1px 1px 18px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 		 inset 1px 1px 18px -6px rgba(0, 0, 0, 0.25);
}

.box_shadow_none {
	-moz-box-shadow:     none;
	-webkit-box-shadow:  none;
	box-shadow:          none;
}



.translucent_white {
	background-color: $WHITE_SHADE;
}

.darkest_to_black {
	background: #1e5799;
	background: -moz-linear-gradient(top,  $COLOR_DARKEST 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$COLOR_DARKEST), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  $COLOR_DARKEST 0%,#000000 100%);
	background: -o-linear-gradient(top,  $COLOR_DARKEST 0%,#000000 100%);
	background: -ms-linear-gradient(top,  $COLOR_DARKEST 0%,#000000 100%);
	background: linear-gradient(to bottom,  $COLOR_DARKEST 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$COLOR_DARKEST', endColorstr='#000000',GradientType=0 );

}


/*-----------------------------------------------------------------------
	BUTTONS
-------------------------------------------------------------------------*/


.button_shape_1 {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;

	width: 60px;
	height: 60px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	line-height: 60px;
	outline: none !important;
}


.button_shape_2{
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;

	text-align: center;
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	font-weight: bold;
	outline: none !important;
	padding: 5px 15px;
}

.button_shade_1 {
	background-color: $COLOR_MAIN;
	@extend .box_shadow_1;
}


.button_shade_1:hover {
	@extend .box_shadow_hover_1;
	text-decoration: none;
}

.button_shade_1:active {
	@extend .box_shadow_none;
	opacity: 0.7;
	text-decoration: none;
}


.button_shade_2 {
	background-color: $COLOR_MAIN_COMPL;
	@extend .box_shadow_1;
}


.button_shade_2:hover {
	@extend .box_shadow_hover_1;
	text-decoration: none;
}

.button_shade_2:active {
	@extend .box_shadow_none;
	opacity: 0.7;
	text-decoration: none;
}

/*-----------------------------------------------------------------------
	TEXT
-------------------------------------------------------------------------*/

h1, h2, h3, h4, h5 h6 {
	font-family: $FONT_FAMILY_1;
}

h1, h3, h5 {
	color: $COLOR_MAIN;
}

h2, h4, h6 {
	color: $COLOR_DARK;
}

p {
	color: $COLOR_DARKEST;
	font-family: $FONT_FAMILY_2;
	font-size: 13px;
}

/*-----------------------------------------------------------------------
	SIDEBAR
-------------------------------------------------------------------------*/


ul.accordion-list {
	padding-left: 0px;
	list-style: none;
	margin: 0px;
}

ul.accordion-list li {
	color: $COLOR_MAIN;
	font-size: 13px;

}


ul.accordion-list li:first-of-type {
	color: $COLOR_DARK;
	font-size: 15px;
	font-weight: bold;
}


/*-----------------------------------------------------------------------
	BLOG
-------------------------------------------------------------------------*/

.blog_title {
	border-bottom: solid 1px #ccc;
	margin-bottom: 0;
}

.blog_author{
	font-size: 12px;
	color: #ccc;
}

.teaser_list{
	margin-top: $VERTICAL_SPACE;
}

.teaser_list:first-child {
	margin-top: 0;
}

.blog_article {
	@extend .box_shadow_2;
	background: rgba(255,255,255,0.8);
	padding: $GRID_GUTTER;
	margin-top: $VERTICAL_HALFSPACE;
	font-family: $FONT_FAMILY_1;
}

.blog_article h2{
	margin: 0;
}

.blog_article p {
	font-family: $FONT_FAMILY_2;
	font-size: 12px;
}

.blog_article .meta_info {
	font-size: 12px;
	font-weight: bold;
	font-family: $FONT_FAMILY_1;
	color: #888;
}

.blog_article .controls {
	margin-top: $VERTICAL_HALFSPACE;
	margin-bottom: $VERTICAL_HALFSPACE;
	clear: both;
}


.blog_article .taglist {

	font-size: 12px;
	font-weight: normal;
	font-family: $FONT_FAMILY_1;
	color: #aaa;
}

.blog_article .taglist a:after {
	content: ",";
}



.blog_article img.teaser_img{
	max-width: 150px;
	max-height: 150px;
	border: solid 3px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	@extend .box_shadow_1;
}


.blog_article p:after {
	content:"";
	clear: both;
	display: block;
}


/* tags */
.tags {
	margin-top: $VERTICAL_SPACE;

	h4{
		margin: 0;
		margin-bottom: 10px;
	}


	a{
		@extend .box_shadow_groove_1;
		@extend .button_shape_2;
		margin-bottom: $VERTICAL_QUARTERSPACE;
		position: relative;
	}

	a:before{
		content: "";
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		display: inline-block;
		width: 6px;
		height: 6px;
		position: absolute;
		left: 6px;
		top: 10px;
	}

	a:after{
		content: "";
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		display: inline-block;
		width: 6px;
		height: 6px;
		position: absolute;
		right: 6px;
		top: 10px;
	}

	a:nth-of-type(even){
		@extend .button_shade_1;
	}

	a:nth-of-type(even):before,
	a:nth-of-type(even):after {
		background: #EEE;
	}

	a:nth-of-type(odd){
		@extend .button_shade_2;
	}

	a:nth-of-type(odd):before,
	a:nth-of-type(odd):after{
		background: #EEE;
	}

}

/* default form */

.default_form {
	@extend .box_shadow_2;
	background: rgba(255,255,255,0.8);
	padding: $GRID_GUTTER;
	margin-top: $VERTICAL_HALFSPACE;
	font-family: $FONT_FAMILY_1;
}


input[type="text"],
input[type="password"],
textarea {
	width: 100%;
	height: 40px;
	@extend .box_shadow_groove_2;
	padding: 10px 5px;
	border: solid 3px #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: $FONT_FAMILY_2;
	margin-top: $VERTICAL_HALFSPACE;
	outline: none;
	border: none;
}


textarea {
	height: 100px;
	resize: none;
}

input[type="submit"]{
	border: none;
	padding: 10px 30px;
	margin-top: $VERTICAL_HALFSPACE;
}


.comment_box {
	@extend .box_shadow_2;
	background: rgba(255,255,255,0.8);
	padding: $GRID_GUTTER;
	margin-top: $VERTICAL_HALFSPACE;
	font-family: $FONT_FAMILY_1;


	.author{
		font-size: 12px;
		font-family: $FONT_FAMILY_1;
		color: #888;
	}

	.text {
		margin-top: $VERTICAL_HALFSPACE;
		font-size: 14px;
		font-family: $FONT_FAMILY_2;
		color: #333;
	}
}


.contact_info {
	@extend .box_shadow_2;
	background: rgba(255,255,255,0.8);
	padding: $GRID_GUTTER;
	margin-top: $VERTICAL_HALFSPACE;
	font-family: $FONT_FAMILY_1;


	.text {
		margin-top: $VERTICAL_HALFSPACE;
		font-size: 14px;
		font-family: $FONT_FAMILY_2;
		color: #333;
	}
}


.validation_message{
	background-color: #F7F4E8;
	background-repeat: no-repeat;
	background-position: 12px center;
	border: 1px solid #DFCA89;
	margin: 10px;
	border-radius: 10px;
	font-weight: bold;

	font-family: $FONT_FAMILY_2;
	padding: 20px;
	margin: 0;
	margin-top: 20px;
}


/*-----------------------------------------------------------------------
	CONTENT
-------------------------------------------------------------------------*/

#content > * > .content_box {
	padding-bottom: $VERTICAL_SPACE;
}

/*-----------------------------------------------------------------------
	FOOTER
-------------------------------------------------------------------------*/

footer {
	@extend .darkest_to_black;
	background-color: $COLOR_DARKEST;
	margin-top: $VERTICAL_DOUBLESPACE;
	padding-top: $VERTICAL_DOUBLESPACE;
	padding-bottom: $VERTICAL_DOUBLESPACE;
	padding-left: $GRID_GUTTER;
	padding-right: $GRID_GUTTER;

}

.footer-teaser {
	@extend .box_shadow_groove_1;

	color: #555;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	background-color: rgba(0,0,0,0.08);
	font-family: $FONT_FAMILY_2;
}


.footer-teaser a{
	color: #777;

}


/*-----------------------------------------------------------------------
	SIDEBAR
-------------------------------------------------------------------------*/

.sidebar {
	margin-top: 39px;
	&>h3{
		margin: 0;
		border-bottom: solid 1px #ccc;
	}


	.accordion-list {
		margin-top: $VERTICAL_HALFSPACE;

		li {
			margin-top: 15px;

			a{
				padding-left: 20px;
			}
		}
	}
}


/*-----------------------------------------------------------------------
	admin interface
-------------------------------------------------------------------------*/

html.admin {

	header .logo {
		width: 100px;
	}

	body {
		background: #aaa;
	}


	.notification{
		background-color: #F8F8F9;
		background-repeat: no-repeat;
		background-position: 12px center;

		font-family: $FONT_FAMILY_2;
		padding: 10px;
		margin: 0;
		margin-top: $VERTICAL_HALFSPACE;
		@extend .box_shadow_hover_1 ;

		font-size: 14px;

		position: relative;
    	padding-right: 50px;

		&.green {
			color: #1EBC30;
			background-color: #E5F9E7;
			border-color: #1EBC30;
		}

		&.orange {
			color: #F2711C;
			background-color: #FFEDDE;
			border-color: #F2711C;
		}

		&.red {
			color: #DB2828;
			background-color: #FFE8E6;
			border-color: #DB2828;
		}

		.dismiss{
		    position: absolute;
		    width: 40px;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    border-left: solid 1px #ddd;
			color: #222;

			&:hover {
				color: $COLOR_RED_DARK_BG;
			}


			i {
				position: absolute;
				top: 50%;
				margin-top: -7px;
				left: 50%;
				margin-left: -5.5px;

				&.fa-spinner{

					  animation-name: spin;
					  animation-duration: 500ms;
					  animation-iteration-count: infinite;
					  animation-timing-function: linear;
				}

			}
		}

		.action-description {
			color: #aaa;
			margin-top: 5px;
			border-top: solid 1px #ddd;
		    padding-top: 5px;
		    font-size: 12px;
		}

		.notification-trigger{
		    position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 50px;
		}

	}

	input[type="text"], textarea {
		border-radius: 2px;
		border: solid 1px #ddd;
	}

	.mce-container.mce-tinymce{
		margin-top: $VERTICAL_HALFSPACE;
	}

	ul.admin-posts{
		list-style: none;
		padding: 0;


		border-top: solid 1px $COLOR_DARKEST;

		li{
		    padding-top: 10px;
		    border-bottom: solid 1px #888;
		}
	}

	.admin-side-menu-container {
		padding-bottom: 30px;
		background-color: $COLOR_DARKEST;
		min-height: 600px;
		@extend .box_shadow_volume_1_rb;
		color: #CCC;


		h4{
			text-align: center;
			font-size: 25px;
			margin-top: 10px;
			color: #CCC;
			font-weight: normal;
		}

		.admin-side-menu{
			margin: 0;
			padding: 0;
			list-style: none;


			font-family:  $FONT_FAMILY_2;

			a{
				display: block;
				height: 40px;
				line-height: 40px;
				font-size: 14px;
    			margin-bottom: 10px;

				padding-left: $GRID_GUTTER;
				padding-right: $GRID_GUTTER;
				position: relative;

				cursor: pointer;


			    text-decoration: none;
			    font-weight: bold;

				.fa{
					font-size: 20px;
					vertical-align: middle;
					padding-right: 10px;
				}

				&::before{
					content: "";
					position: absolute;

					width: 0;
					top: 0;
					bottom: 0;
					left: 0;
					background: rgba(255,255,255,0.2);

					-webkit-transition: all 100ms ease;
					-moz-transition: all 100ms ease;
					-ms-transition: all 100ms ease;
					-o-transition: all 100ms ease;
					transition: all 100ms ease;
				    -webkit-border-top-right-radius: 5px;
				    -webkit-border-bottom-right-radius: 5px;
				    -moz-border-radius-topright: 5px;
				    -moz-border-radius-bottomright: 5px;
				    border-top-right-radius: 5px;
				    border-bottom-right-radius: 5px;
				}

				&:hover:before {
					width: 100%;
				}

				&.selected {
					-webkit-box-shadow:inset 3px 0 0 0 #CCC;
					box-shadow:inset 3px 0 0 0 #CCC;
				    background-color: #444;
				    -webkit-border-top-right-radius: 5px;
				    -webkit-border-bottom-right-radius: 5px;
				    -moz-border-radius-topright: 5px;
				    -moz-border-radius-bottomright: 5px;
				    border-top-right-radius: 5px;
				    border-bottom-right-radius: 5px;
				}

			}

			.submenu-link {
				font-size: 12px;
				height: 20px;
				margin-bottom: 20px;
				line-height: 20px;
				padding-left: 40px;
			}

		}

	}


	.post-buttons a,
	.post-buttons select{
		display: block;

		background-color: $COLOR_DARKEST;
		@extend .box_shadow_volume_1;
		padding: 5px 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-family:  $FONT_FAMILY_2;
		color: #CCC;
		margin-bottom: $VERTICAL_QUARTERSPACE;

	    font-size: 14px;
	    font-weight: bold;
	    text-align: center;
		text-decoration: none;
		position: relative;

		width: 100%;

		&:before {
			content: "";
			position: absolute;

			width: 0;
			top: 0;
			bottom: 0;
			left: 0;
			background: rgba(255,255,255,0.2);

		}

		&:hover:before {
			width: 100%;
		}

		&:active{
				@extend .box_shadow_none;
		}


		i{

		    margin-right: 10px;
		    font-size: 16px;
		    vertical-align: middle;
		}

		&.delete{
			color: $COLOR_RED_DARK_BG;
		}

		&.save {
			color: $COLOR_BLUE_DARK_BG;
		}
	}

	.post-buttons select{
	    background-color: #888;
	    color: #FFF;
	}

	.post-buttons.single-post {
		margin-top: $VERTICAL_DOUBLESPACE;
	}


}
