
@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400);

@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);


body {
	background: url(./img/bg.jpg);
	font-family: "Roboto", sans-serif;

	.main-container {
		background: #c9c7c6;
		border-top: solid 5px #29475f;
		margin-top: 30px;
		padding-bottom: 30px;

		-webkit-box-shadow: 7px 5px 53px 6px rgba(0,0,0,0.23);
		-moz-box-shadow: 7px 5px 53px 6px rgba(0,0,0,0.23);
		box-shadow: 7px 5px 53px 6px rgba(0,0,0,0.23);


		.main-title {
			color: #29475f;
			font-family: 'Rambla', sans-serif;
			font-size: 26px;
			margin-top: 15px;
			font-weight: bold;
		}
	}

	.footer {
		margin-top: 30px;
		margin-bottom: 30px;
		color: #fff;

		padding-top: 40px;
		padding-bottom: 40px;

		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29475f+0,29475f+90,386283+100 */
		background: #29475f; /* Old browsers */
		background: -moz-linear-gradient(top,  #29475f 0%, #29475f 90%, #386283 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #29475f 0%,#29475f 90%,#386283 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #29475f 0%,#29475f 90%,#386283 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29475f', endColorstr='#386283',GradientType=0 ); /* IE6-9 */


		-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

		.content {

			span, a {
				padding: 5px 20px;
				margin-left: 20px;
				margin-top: 20px;

				color: #aaa;
			}
		}
	}
}





/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	body {
		padding-top: 30px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	body {
		padding-top: 60px;

		.main-container {
			border-width: 10px;
			margin-top: 60px;
			padding-bottom: 20;

			.main-title {
				font-size: 36px;
				margin-top: 30px;
			}
		}

		.footer {
			margin-top: 60px;
			margin-bottom: 60px;



		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}




@import 'components/Header.scss';
@import 'components/Suggestions.scss';
@import 'components/BlogRoll.scss';
@import 'components/BlogPost.scss';
