@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,700italic,700,400);
@import url(http://fonts.googleapis.com/css?family=Rambla:400,700,400italic,700italic);
body {
  background: url(./img/bg.jpg);
  font-family: "Roboto", sans-serif; }
  body .main-container {
    background: #c9c7c6;
    border-top: solid 5px #29475f;
    margin-top: 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 7px 5px 53px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 7px 5px 53px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 7px 5px 53px 6px rgba(0, 0, 0, 0.23); }
    body .main-container .main-title {
      color: #29475f;
      font-family: 'Rambla', sans-serif;
      font-size: 26px;
      margin-top: 15px;
      font-weight: bold; }
  body .footer {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#29475f+0,29475f+90,386283+100 */
    background: #29475f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #29475f 0%, #29475f 90%, #386283 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #29475f 0%, #29475f 90%, #386283 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #29475f 0%, #29475f 90%, #386283 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29475f', endColorstr='#386283',GradientType=0 );
    /* IE6-9 */
    -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2); }
    body .footer .content span, body .footer .content a {
      padding: 5px 20px;
      margin-left: 20px;
      margin-top: 20px;
      color: #aaa; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    padding-top: 30px; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    padding-top: 60px; }
    body .main-container {
      border-width: 10px;
      margin-top: 60px;
      padding-bottom: 20; }
      body .main-container .main-title {
        font-size: 36px;
        margin-top: 30px; }
    body .footer {
      margin-top: 60px;
      margin-bottom: 60px; } }
/* Large Devices, Wide Screens */
.header {
  background: #dfdedd;
  padding: 10px 0;
  border-top: solid 5px #29475f; }
  .header .logo-wrapper {
    padding-left: 16px; }
    .header .logo-wrapper img {
      max-width: 42px; }
  .header .header-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    position: relative;
    vertical-align: top; }
    .header .header-button.login {
      background-color: #00b16a;
      margin-right: 10px; }
      .header .header-button.login:hover, .header .header-button.login:active {
        background: #00e489; }
    .header .header-button.contact {
      background-color: #3498db; }
      .header .header-button.contact:hover, .header .header-button.contact:active {
        background: #5faee3; }
    .header .header-button .fa {
      top: 50%;
      left: 50%;
      position: absolute;
      margin-top: -10px;
      margin-left: -8px; }
      .header .header-button .fa.fa-envelope-o {
        margin-left: -10px; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .header {
    padding: 20px 0;
    border-top: solid 10px #29475f; }
    .header .logo-wrapper img {
      max-width: none;
      margin-top: 12px; }
    .header .header-button.contact {
      width: 100px;
      height: 100px;
      font-size: 45px; }
      .header .header-button.contact .fa {
        margin-top: -22.5px;
        margin-left: -22.5px; } }
.suggestions {
  border-left: solid 1px #29475f;
  padding-left: 10px;
  margin-top: 30px; }
  .suggestions h3 {
    margin-top: 0; }
  .suggestions h2, .suggestions h3, .suggestions h4 {
    font-family: 'Rambla', sans-serif;
    color: #29475f;
    font-weight: bold; }
  .suggestions a {
    display: block; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .suggestions {
    border-left: none;
    padding-left: 0; } }
.blog-roll {
  margin-bottom: 10px; }
  .blog-roll .tags h5 {
    color: #29475f;
    font-size: 16px; }
  .blog-roll .tags .tag-button {
    padding: 3px 10px 3px 7px;
    border-left: solid 3px #29475f;
    background: #ebebeb;
    display: inline-block;
    color: #2f88a7;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold; }
    .blog-roll .tags .tag-button:hover, .blog-roll .tags .tag-button:active {
      text-decoration: none;
      background: white; }
    .blog-roll .tags .tag-button.color-blue {
      background: #3498db;
      border-color: #2980b9;
      color: #fff; }
      .blog-roll .tags .tag-button.color-blue:hover, .blog-roll .tags .tag-button.color-blue:active {
        background: #5faee3; }
    .blog-roll .tags .tag-button.color-red {
      background: #e74c3c;
      border-color: #c0392b;
      color: #fff; }
      .blog-roll .tags .tag-button.color-red:hover, .blog-roll .tags .tag-button.color-red:active {
        background: #ed7669; }
    .blog-roll .tags .tag-button.color-green {
      background: #1abc9c;
      border-color: #16a085;
      color: #fff; }
      .blog-roll .tags .tag-button.color-green:hover, .blog-roll .tags .tag-button.color-green:active {
        background: #28e1bd; }
  .blog-roll .tags .tags-wrapper {
    margin-left: -10px;
    margin-top: -10px; }
  .blog-roll .post-list {
    margin-top: 20px; }
  .blog-roll .load-more {
    text-align: center;
    margin-top: 20px; }
    .blog-roll .load-more .load-more-button {
      color: #29475f;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      display: inline-block; }
      .blog-roll .load-more .load-more-button .fa {
        font-size: 22px;
        vertical-align: middle; }
      .blog-roll .load-more .load-more-button span {
        display: inline-block;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        -ms-transition: opacity 200ms ease;
        -o-transition: opacity 200ms ease;
        transition: opacity 200ms ease;
        padding-left: 10px; }
        .blog-roll .load-more .load-more-button span.active-label {
          position: absolute;
          opacity: 0; }
      .blog-roll .load-more .load-more-button.active span.active-label {
        opacity: 1; }
      .blog-roll .load-more .load-more-button.active span.passive-label {
        opacity: 0; }
      .blog-roll .load-more .load-more-button.active .fa {
        -webkit-animation-name: spin;
        -webkit-animation-duration: 1200ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 1200ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 1200ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        animation-name: spin;
        animation-duration: 1200ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .blog-roll {
    margin-top: 20px;
    margin-bottom: 20px; }
    .blog-roll .post-list {
      margin-top: 40px; }
    .blog-roll .tags .tags-wrapper {
      margin-left: -20px;
      margin-top: -20px; }
    .blog-roll .tags .tag-button {
      margin-left: 20px;
      margin-top: 20px;
      padding: 5px 20px 5px 15px;
      border-left: solid 5px #29475f;
      font-size: 14px;
      font-weight: normal; } }
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.post-list > .row:first-child article.blog-post {
  margin-top: 0; }

article.blog-post {
  padding: 15px 15px 20px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background: #ebebeb; }
  article.blog-post h2 {
    color: #2f88a7;
    margin: 0;
    font-size: 25px; }
  article.blog-post .post-meta {
    font-size: 11px;
    font-weight: bold;
    color: #626f7a; }
  article.blog-post .post-content {
    margin-top: 20px;
    font-size: 12px; }
    article.blog-post .post-content span, article.blog-post .post-content strong {
      font-size: 15px !important;
      line-height: 28px !important; }
    article.blog-post .post-content > * {
      float: none; }
    article.blog-post .post-content img {
      float: none !important;
      margin: 40px auto;
      display: block; }
  article.blog-post .post-details {
    height: 180px;
    overflow: hidden; }
  article.blog-post figure {
    margin-top: 20px;
    text-align: center;
    line-height: 240px; }
    article.blog-post figure img {
      max-width: 100%;
      max-height: 240px; }
  article.blog-post .post-buttons {
    margin-top: 0px;
    margin-left: -10px;
    clear: both; }
    article.blog-post .post-buttons a {
      display: inline-block;
      margin-left: 10px;
      margin-top: 20px;
      padding: 6px 10px;
      background: #2f88a7;
      color: #fff;
      font-size: 13px; }
      article.blog-post .post-buttons a:hover, article.blog-post .post-buttons a:active {
        text-decoration: none;
        background: #40a6c9; }
      article.blog-post .post-buttons a .fa {
        padding-right: 5px;
        font-size: 12px; }
  article.blog-post .post-tags {
    margin-top: 10px;
    margin-left: -10px; }
    article.blog-post .post-tags a {
      margin-left: 10px;
      font-weight: bold;
      font-size: 10px;
      color: #2980b9;
      display: inline-block;
      position: relative;
      padding-left: 13px; }
      article.blog-post .post-tags a:hover, article.blog-post .post-tags a:active {
        color: #409ad5;
        border-color: #409ad5;
        text-decoration: none; }
      article.blog-post .post-tags a:before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        left: 0;
        top: 3px;
        background: #29475f; }
      article.blog-post .post-tags a.color-blue:before {
        background: #2980b9; }
      article.blog-post .post-tags a.color-red {
        color: #e74c3c; }
        article.blog-post .post-tags a.color-red:hover, article.blog-post .post-tags a.color-red:active {
          color: #ed7669; }
        article.blog-post .post-tags a.color-red:before {
          background: #c0392b; }
      article.blog-post .post-tags a.color-green {
        color: #1abc9c; }
        article.blog-post .post-tags a.color-green:hover, article.blog-post .post-tags a.color-green:active {
          color: #28e1bd; }
        article.blog-post .post-tags a.color-green:before {
          background: #16a085; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  article.blog-post {
    padding: 30px; }
    article.blog-post h2 {
      font-size: 30px; }
    article.blog-post .post-content {
      font-size: 14px;
      margin-top: 30px; }
      article.blog-post .post-content img[alt="left"] {
        margin-right: 40px;
        margin-bottom: 40px;
        float: left !important; }
      article.blog-post .post-content img[alt="right"] {
        margin-left: 40px;
        margin-bottom: 40px;
        float: left !important; }
      article.blog-post .post-content img {
        display: inline-block; }
    article.blog-post .post-meta {
      font-size: 12px; }
    article.blog-post .post-tags {
      float: right; } }
.comment-list {
  padding: 15px 15px 20px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background: #ebebeb; }
  .comment-list h3 {
    font-family: 'Rambla', sans-serif;
    color: #29475f;
    font-weight: bold;
    margin-top: 0; }
  .comment-list .comment {
    position: relative;
    padding: 10px 0; }
    .comment-list .comment .comment-header {
      position: relative;
      padding-right: 40px; }
      .comment-list .comment .comment-header .comment-portrait {
        font-size: 26px;
        padding: 2px 7px; }
      .comment-list .comment .comment-header .comment-author {
        font-size: 16px; }
      .comment-list .comment .comment-header .comment-number {
        color: #666;
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 10px;
        cursor: pointer; }
    .comment-list .comment .comment-body {
      font-size: 13px; }
    .comment-list .comment .comment-footer {
      font-size: 11px;
      color: #666;
      margin-top: 5px; }
      .comment-list .comment .comment-footer a {
        color: #444;
        font-weight: bold;
        cursor: pointer; }
    .comment-list .comment:after {
      content: "";
      position: absolute;
      bottom: 0;
      height: 2px;
      left: 0;
      right: 0;
      background-color: #aaa;
      border-bottom: solid 1px #fff; }
    .comment-list .comment[data-level]:before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      width: 10px;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAABCAYAAADn9T9+AAAAFElEQVQIW2NkIAD+////f+HChQwAH+EF4dbL+14AAAAASUVORK5CYII=) repeat; }
    .comment-list .comment[data-level="1"] {
      padding-left: 20px; }
    .comment-list .comment[data-level="1"]:before {
      width: 10px; }
    .comment-list .comment[data-level="2"] {
      padding-left: 30px; }
    .comment-list .comment[data-level="2"]:before {
      width: 20px; }
    .comment-list .comment[data-level="3"] {
      padding-left: 40px; }
    .comment-list .comment[data-level="3"]:before {
      width: 30px; }
    .comment-list .comment[data-level="4"] {
      padding-left: 50px; }
    .comment-list .comment[data-level="4"]:before {
      width: 40px; }
    .comment-list .comment[data-level="5"] {
      padding-left: 60px; }
    .comment-list .comment[data-level="5"]:before {
      width: 50px; }
    .comment-list .comment[data-level="6"] {
      padding-left: 70px; }
    .comment-list .comment[data-level="6"]:before {
      width: 60px; }
    .comment-list .comment[data-level="7"] {
      padding-left: 80px; }
    .comment-list .comment[data-level="7"]:before {
      width: 70px; }
    .comment-list .comment[data-level="8"] {
      padding-left: 90px; }
    .comment-list .comment[data-level="8"]:before {
      width: 80px; }
    .comment-list .comment[data-level="9"] {
      padding-left: 100px; }
    .comment-list .comment[data-level="9"]:before {
      width: 90px; }
    .comment-list .comment[data-level="10"] {
      padding-left: 110px; }
    .comment-list .comment[data-level="10"]:before {
      width: 100px; }

.comment-form {
  padding: 15px 15px 20px;
  -moz-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  background: #ebebeb; }
  .comment-form h4 {
    font-family: 'Rambla', sans-serif;
    color: #29475f;
    font-weight: bold;
    margin-top: 0; }
  .comment-form input, .comment-form textarea {
    height: 30px;
    background: #fff;
    border: none;
    display: block;
    outline: none;
    width: 100%;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px; }
    .comment-form input:focus, .comment-form textarea:focus {
      -webkit-box-shadow: 0px 2px 0px 0px #3498db;
      -moz-box-shadow: 0px 2px 0px 0px #3498db;
      box-shadow: 0px 2px 0px 0px #3498db; }
  .comment-form input[type="number"] {
    display: inline-block;
    margin-left: 10px;
    width: 75px; }
  .comment-form textarea {
    resize: vertical;
    height: 100px;
    min-height: 100px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .comment-form form {
    margin-bottom: 0; }
  .comment-form .submit-comment-button {
    display: inline-block;
    margin-top: 20px;
    padding: 6px 30px;
    background: #3cb878;
    color: #fff;
    font-size: 13px;
    text-decoration: none; }
    .comment-form .submit-comment-button .fa {
      font-size: 12px; }
      .comment-form .submit-comment-button .fa.fa-commenting-o {
        padding-right: 5px; }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .comment-list, .comment-form {
    padding: 30px; } }